<header>
  <div class="logo">
    <div></div>
  </div>
  <div class="settings"><a href="">Admin Name <i class="fa fa-cog"></i></a></div>
</header>
<div class="body">
  <div class="menu">
    <div class="navigate"><span>NAVIGATE</span></div>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-line-chart"></i> Analytics</a></li>
      <li><a routerLink="/news" routerLinkActive="active"><i class="fa fa-newspaper-o"></i> News</a></li>
      <li><a href="#"><i class="fa fa-files-o"></i> Board Brief</a></li>
      <li><a href="#"><i class="fa fa-suitcase"></i> Briefcase</a></li>
    </ul>    
    <ul class="close">
      <li><a href=""><i class="fa fa-angle-double-left"></i> Close Menu</a></li>
    </ul>
   
  </div>
  <div class="content-body">
    <router-outlet></router-outlet>
  </div>
</div>