$headermenucolor: #2f323a;
$white: #f5f5fa;

header{
    width: 100%;
    display: flex;    
}

.logo{
    transition: width .5s;
    width: 264px;
    height: 60px;
    background-color: #1e2025;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        background-image: url("../../../assets/r-3-l-logo-application-02.png");
        background-size: cover;
        width: 170px;
        height: 20px;
    }
    &.small-logo{
        width: 40px;
        transition: width .5s;
        div{
            background-position-x: right;
            width: 25px;        
        }
    }
}
.settings{
    background-color: $headermenucolor;
    padding-right: 40px;
    flex-grow: 1;    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a{
        text-decoration: none;
        color: $white;
        font-weight: bold;
    }
}
.body{
    width: 100%;
    display: flex;        
   .content-body{   
        margin: 30px;
        flex: 1;                   
    }  
    .menu{
    transition: width .5s;
    background-color: $headermenucolor;   
    width: 264px;
    display: flex;
    flex-flow: column; 
    align-items: center; 
    .navigate{
        color: #4d5056;
        border-bottom: 1px solid #4d5056;
        width: 80%;
        padding: 5px 0; 
        margin-top: 15px;
    }
    ul{
        list-style: none;
        width: 80%;
        padding: 0;
        li{
            padding: 10px 0;            
            color: $white;
            font-weight: bold;
            a{
                text-decoration: none;
                color: $white;
                font-weight: bold;                
                i{
                    margin-right: 5px;
                    color: #5c9df5;
                }
            }
            i{
                margin-right: 5px;
                color: #5c9df5;
            }
        }        
    }
    &.hide-menu{
        width: 40px;
        transition: width .5s;
        .navigate{
            width: 0px;
            span{
                transition: display .5;
                display: none;
            }
        }
        ul{
            li{                
                transition: display .5;
                span{display: none}
            }
        }
    }
    
}    
}

